.digit {
    height: 50px;
    width: 50px;
    display: inline-block;
    background-color: #A7DBD8;
    border-radius: 5px;
    text-align: center;
    font-size: 40 px;
    color: #000000;
    font: arial;
}


button {
    height: 50px;
    width: 100px;
    display: inline-block;
    background-color: #F38630;
    border-radius: 5px;
}