@import url(fonts/clear-sans.css);

html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px; }

.container {
  width: 500px;
  margin: 0 auto; }

.heading {
    overflow: hidden;
    /*display:table-cell;*/
}

.heading h1{
    float:left;
    font-size: 48px;
}

.scores-container {
  float: right;
}

.score-container, .best-container, .record-container {
  position: relative;
  display: inline-block;
  background: #bbada0;
  padding: 15px 25px;
  font-size: 25px;
  height: 30px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 20px;
  text-align: center; }

.score-container:after, .best-container:after, .record-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da;}

.score-container:after {
  content: "Score"; }

.best-container:after {
  content: "Best"; }

.record-container:after {
  content: "Record"; }

.intro {
  text-align: justify;
  margin: 0; }


#submitbutton {
  display: block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  font-weight: bold;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  display: block;
  text-align: center;
  float: center;
  cursor: pointer; 
  width: 20%;  
  box-sizing: border-box;
  margin-top: 2px;}

textarea {
    border-radius: 3px;
    color: #776e65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}

